@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.ttf");
  src: url("../fonts/Gilroy-Medium.eot") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
.footer {
  padding-top: 80px; }
  .footer .footer-content .footer-menu {
    padding-bottom: 60px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer .footer-content .footer-menu .find-fast {
        padding-bottom: 20px; } }
    @media (max-width: 479px) {
      .footer .footer-content .footer-menu .find-fast {
        padding-bottom: 20px; } }
    .footer .footer-content .footer-menu .find-fast .footer-title {
      font-weight: bold;
      font-family: 'Gilroy';
      font-size: 16px;
      text-transform: uppercase;
      color: #363636;
      padding-bottom: 30px;
      margin-bottom: 0px; }
    .footer .footer-content .footer-menu .find-fast ul {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none; }
      .footer .footer-content .footer-menu .find-fast ul li {
        padding: 3px 0px; }
        .footer .footer-content .footer-menu .find-fast ul li a {
          font-size: 14px;
          font-family: 'Gilroy';
          color: #626262; }
          .footer .footer-content .footer-menu .find-fast ul li a:hover {
            color: #fed700;
            text-decoration: none; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer .footer-content .footer-menu .merchant-central {
        padding-bottom: 20px; } }
    @media (max-width: 479px) {
      .footer .footer-content .footer-menu .merchant-central {
        padding-bottom: 20px; } }
    .footer .footer-content .footer-menu .merchant-central .footer-title {
      font-weight: bold;
      font-family: 'Gilroy';
      font-size: 16px;
      text-transform: uppercase;
      color: #363636;
      padding-bottom: 30px;
      margin-bottom: 0px; }
    .footer .footer-content .footer-menu .merchant-central ul {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none; }
      .footer .footer-content .footer-menu .merchant-central ul li {
        padding: 3px 0px; }
        .footer .footer-content .footer-menu .merchant-central ul li a {
          font-size: 14px;
          font-family: 'Gilroy';
          color: #626262; }
          .footer .footer-content .footer-menu .merchant-central ul li a:hover {
            color: #fed700;
            text-decoration: none; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer .footer-content .footer-menu .information {
        padding-bottom: 20px; } }
    @media (max-width: 479px) {
      .footer .footer-content .footer-menu .information {
        padding-bottom: 20px; } }
    .footer .footer-content .footer-menu .information .footer-title {
      font-weight: bold;
      font-family: 'Gilroy';
      font-size: 16px;
      text-transform: uppercase;
      color: #363636;
      padding-bottom: 30px;
      margin-bottom: 0px; }
    .footer .footer-content .footer-menu .information ul {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none; }
      .footer .footer-content .footer-menu .information ul li {
        padding: 3px 0px; }
        .footer .footer-content .footer-menu .information ul li a {
          font-size: 14px;
          font-family: 'Gilroy';
          color: #626262; }
          .footer .footer-content .footer-menu .information ul li a:hover {
            color: #fed700;
            text-decoration: none; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer .footer-content .footer-menu .contact-us {
        padding-bottom: 20px; } }
    @media (max-width: 479px) {
      .footer .footer-content .footer-menu .contact-us {
        padding-bottom: 20px; } }
    .footer .footer-content .footer-menu .contact-us .footer-title {
      font-weight: bold;
      font-family: 'Gilroy';
      font-size: 16px;
      text-transform: uppercase;
      color: #363636;
      padding-bottom: 30px;
      margin-bottom: 0px; }
    .footer .footer-content .footer-menu .contact-us .contact-desc {
      font-size: 14px;
      font-family: 'Gilroy'; }
      .footer .footer-content .footer-menu .contact-us .contact-desc a {
        color: #fed700; }
      .footer .footer-content .footer-menu .contact-us .contact-desc .address {
        padding-top: 35px;
        display: flex;
        align-items: center; }
        .footer .footer-content .footer-menu .contact-us .contact-desc .address img {
          padding-right: 15px; }
      .footer .footer-content .footer-menu .contact-us .contact-desc .phone {
        padding-top: 35px;
        display: flex;
        align-items: center; }
        .footer .footer-content .footer-menu .contact-us .contact-desc .phone img {
          padding-right: 15px; }
        .footer .footer-content .footer-menu .contact-us .contact-desc .phone span a {
          color: #626262; }
          .footer .footer-content .footer-menu .contact-us .contact-desc .phone span a:hover {
            text-decoration: none; }
  .footer .footer-content .footer-newsletter {
    border: 1px solid #e5e5e5;
    padding: 25px 0px; }
    .footer .footer-content .footer-newsletter .newsletter .sign-up {
      padding: 0px 80px;
      display: flex;
      align-items: center; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .footer .footer-content .footer-newsletter .newsletter .sign-up {
          padding: 0px 20px;
          padding-bottom: 10px; } }
      @media (max-width: 479px) {
        .footer .footer-content .footer-newsletter .newsletter .sign-up {
          padding: 0px 20px;
          padding-bottom: 10px; } }
      .footer .footer-content .footer-newsletter .newsletter .sign-up .sign-left {
        display: flex;
        align-items: center;
        margin-right: 45px;
        width: 40%; }
        .footer .footer-content .footer-newsletter .newsletter .sign-up .sign-left img {
          font-size: 36px;
          padding-right: 20px; }
        .footer .footer-content .footer-newsletter .newsletter .sign-up .sign-left span {
          font-family: "Gilroy";
          font-size: 16px;
          font-weight: 700;
          color: #363636;
          text-transform: uppercase; }
      .footer .footer-content .footer-newsletter .newsletter .sign-up .sign-right {
        padding-left: 30px;
        border-left: 1px solid #e5e5e5;
        width: 100%; }
        .footer .footer-content .footer-newsletter .newsletter .sign-up .sign-right span {
          font-size: 14px;
          color: #8a8a8a; }
    .footer .footer-content .footer-newsletter .newsletter .subscribe {
      position: relative;
      margin-bottom: 60px; }
      .footer .footer-content .footer-newsletter .newsletter .subscribe input {
        border: 1px solid #e5e5e5;
        padding: 18px 18px 18px 25px;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        width: 85%;
        margin: auto;
        right: 0;
        left: 0; }
        .footer .footer-content .footer-newsletter .newsletter .subscribe input:focus {
          outline: none; }
      .footer .footer-content .footer-newsletter .newsletter .subscribe button {
        background-color: #fed700;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        font-family: "Gilroy";
        font-weight: 700;
        font-size: 14px;
        position: absolute;
        z-index: 2;
        position: absolute;
        z-index: 2;
        left: 62%;
        top: 10px; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .footer .footer-content .footer-newsletter .newsletter .subscribe button {
            left: 77%; } }
        @media (max-width: 479px) {
          .footer .footer-content .footer-newsletter .newsletter .subscribe button {
            left: 66%; } }
        .footer .footer-content .footer-newsletter .newsletter .subscribe button:focus {
          outline: none; }
  .footer .footer-content .footer-list {
    display: flex;
    padding: 35px 0px;
    justify-content: center; }
    .footer .footer-content .footer-list .list-menu-footer .menu-footer {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 25px; }
      .footer .footer-content .footer-list .list-menu-footer .menu-footer li {
        padding: 0px 15px; }
        @media (max-width: 479px) {
          .footer .footer-content .footer-list .list-menu-footer .menu-footer li {
            padding: 0px 7px; } }
        .footer .footer-content .footer-list .list-menu-footer .menu-footer li a {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 700;
          color: #353535; }
          .footer .footer-content .footer-list .list-menu-footer .menu-footer li a:hover {
            color: #fed700;
            text-decoration: none; }
    .footer .footer-content .footer-list .list-menu-footer .text-menu-footer {
      font-size: 14px;
      color: #b0b0b0; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .footer .footer-content .footer-list .list-menu-footer .text-menu-footer {
          text-align: center; } }
      @media (max-width: 479px) {
        .footer .footer-content .footer-list .list-menu-footer .text-menu-footer {
          text-align: center; } }
  .footer .footer-copyright {
    background-color: #252525;
    padding: 30px 0px; }
    .footer .footer-copyright .copyright {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .footer .footer-copyright .copyright {
          display: inline;
          text-align: center; } }
      @media (max-width: 479px) {
        .footer .footer-copyright .copyright {
          display: inline;
          text-align: center; } }
      .footer .footer-copyright .copyright .copy {
        color: #b0b0b0;
        font-size: 14px; }
        .footer .footer-copyright .copyright .copy a {
          color: #fed700; }
          .footer .footer-copyright .copyright .copy a:hover {
            text-decoration: none; }
      .footer .footer-copyright .copyright .icon-copy a {
        color: white;
        font-size: 20px;
        padding: 0px 10px; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.ttf");
  src: url("../fonts/Gilroy-Medium.eot") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
.header .header_top {
  padding: 15px 0px;
  border: 1px solid #e6e6e6; }
  @media (max-width: 479px) {
    .header .header_top {
      display: none; } }
  .header .header_top .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-family: "Gilroy"; }
    .header .header_top .top a {
      color: #fed700; }
    .header .header_top .top .top-right {
      display: flex;
      align-items: center; }
      .header .header_top .top .top-right .language {
        display: flex;
        align-items: center;
        padding-right: 20px; }
        .header .header_top .top .top-right .language img {
          padding-right: 10px; }
      .header .header_top .top .top-right .usd {
        border-left: 1px solid #e6e6e6;
        padding-left: 20px; }
        .header .header_top .top .top-right .usd select {
          border: 0px; }
.header .header_logo {
  padding: 25px 0px; }
  .header .header_logo .logo-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 479px) {
      .header .header_logo .logo-content {
        display: inherit; } }
    .header .header_logo .logo-content .search {
      position: relative;
      width: 50%;
      font-size: 14px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .header .header_logo .logo-content .search {
          width: 40%; } }
      @media (max-width: 479px) {
        .header .header_logo .logo-content .search {
          width: 100%; } }
      @media (max-width: 479px) {
        .header .header_logo .logo-content .search {
          padding: 20px 0px; } }
      .header .header_logo .logo-content .search input {
        position: relative;
        color: #b0b0b0;
        padding: 15px 15px 15px 40px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        width: 100%; }
        .header .header_logo .logo-content .search input:focus {
          outline: none; }
      .header .header_logo .logo-content .search button {
        position: absolute;
        z-index: 2;
        right: 3%;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
        padding: 10px 20px;
        background-color: #fed700;
        font-weight: 700;
        border: none;
        border-radius: 5px; }
        .header .header_logo .logo-content .search button:focus {
          outline: none; }
      .header .header_logo .logo-content .search img {
        position: absolute;
        left: 3%;
        top: 50%;
        transform: translateY(-50%); }
    .header .header_logo .logo-content .menu-cart {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none;
      display: flex;
      font-family: "Gilroy"; }
      .header .header_logo .logo-content .menu-cart li {
        padding-left: 24px;
        position: relative; }
        .header .header_logo .logo-content .menu-cart li a {
          font-size: 14px;
          font-family: 'Gilroy';
          color: #626262; }
          .header .header_logo .logo-content .menu-cart li a span {
            padding: 0px 5px;
            position: absolute;
            background-color: #ef3636;
            border-radius: 50%;
            color: #ffffff;
            font-size: 12px;
            right: -25%;
            top: -25%; }
      .header .header_logo .logo-content .menu-cart li:nth-child(3) {
        display: flex;
        align-items: center; }
        .header .header_logo .logo-content .menu-cart li:nth-child(3) a {
          font-size: 14px;
          font-family: 'Gilroy';
          color: #626262; }
          .header .header_logo .logo-content .menu-cart li:nth-child(3) a span {
            padding: 0px 5px;
            position: absolute;
            background-color: #ef3636;
            border-radius: 50%;
            color: #ffffff;
            font-size: 12px;
            right: 40%;
            top: -25%; }
        .header .header_logo .logo-content .menu-cart li:nth-child(3) .price-cart {
          font-size: 16px;
          padding-left: 10px;
          font-weight: 700;
          align-items: center; }
.header .header_menu {
  background-color: #fed700; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .header .header_menu {
      display: none; } }
  @media (max-width: 479px) {
    .header .header_menu {
      display: none; } }
  .header .header_menu .menu .department {
    background-color: #eac600;
    padding: 20px 20px;
    position: relative; }
    .header .header_menu .menu .department span {
      font-weight: 700;
      cursor: pointer; }
    .header .header_menu .menu .department ul.sub-menu {
      position: absolute;
      top: 100%;
      background-color: #ffffff;
      z-index: 33;
      box-shadow: 0 1px 7px 0 rgba(12, 8, 8, 0.35);
      width: 100%;
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none; }
      .header .header_menu .menu .department ul.sub-menu li {
        padding: 10px 20px;
        background-color: #ffffff; }
        .header .header_menu .menu .department ul.sub-menu li a {
          color: #fed700; }
          .header .header_menu .menu .department ul.sub-menu li a:hover {
            text-decoration: none; }
    .header .header_menu .menu .department ul#click1 {
      max-height: 0;
      overflow: hidden;
      left: 0;
      transition: 1s ease; }
    .header .header_menu .menu .department ul.active1 {
      max-height: 200vh !important;
      transition: 1s ease; }
  .header .header_menu .menu .menu-list {
    padding: 20px 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700; }
    .header .header_menu .menu .menu-list li.menu-item {
      padding-right: 45px;
      white-space: nowrap;
      position: relative; }
      .header .header_menu .menu .menu-list li.menu-item a {
        color: #000000; }
        .header .header_menu .menu .menu-list li.menu-item a:hover {
          text-decoration: none; }
      .header .header_menu .menu .menu-list li.menu-item ul.sub-menu {
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none;
        width: 200px;
        box-shadow: 0 1px 7px 0 rgba(12, 8, 8, 0.35);
        background-color: #ffffff;
        top: 10%;
        visibility: hidden;
        position: absolute;
        z-index: 99;
        opacity: 0; }
        .header .header_menu .menu .menu-list li.menu-item ul.sub-menu li {
          padding: 10px 20px; }
          .header .header_menu .menu .menu-list li.menu-item ul.sub-menu li:hover {
            background-color: #fed700;
            transition: 0.5s ease; }
            .header .header_menu .menu .menu-list li.menu-item ul.sub-menu li:hover a {
              color: #ffffff; }
      .header .header_menu .menu .menu-list li.menu-item:hover ul.sub-menu {
        visibility: visible;
        opacity: 1;
        transition: 1s ease;
        top: 90%; }
.header .header_mobile {
  background-color: #fed700;
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .header .header_mobile {
      display: block; } }
  @media (max-width: 479px) {
    .header .header_mobile {
      display: block; } }
  .header .header_mobile .header_mobile-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .header_mobile .header_mobile-content .department {
      background-color: #eac600;
      position: relative;
      padding: 20px; }
      .header .header_mobile .header_mobile-content .department span {
        font-weight: 700;
        cursor: pointer; }
      .header .header_mobile .header_mobile-content .department ul.sub-menu {
        position: absolute;
        top: 100%;
        background-color: #ffffff;
        z-index: 33;
        box-shadow: 0 1px 7px 0 rgba(12, 8, 8, 0.35);
        width: 100%;
        padding-left: 0px;
        margin-bottom: 0px;
        list-style: none; }
        .header .header_mobile .header_mobile-content .department ul.sub-menu li {
          padding: 10px 20px;
          background-color: #ffffff; }
          .header .header_mobile .header_mobile-content .department ul.sub-menu li a {
            color: #fed700; }
            .header .header_mobile .header_mobile-content .department ul.sub-menu li a:hover {
              text-decoration: none; }
      .header .header_mobile .header_mobile-content .department ul#click2 {
        max-height: 0;
        overflow: hidden;
        left: 0;
        transition: 1s ease; }
      .header .header_mobile .header_mobile-content .department ul.active1 {
        max-height: 200vh !important;
        transition: 1s ease; }
    .header .header_mobile .header_mobile-content .menu-bar {
      text-align: right;
      padding: 20px 0px; }
      .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu {
        visibility: hidden;
        right: -100%;
        background-color: rgba(254, 215, 0, 0.9);
        z-index: 1000;
        position: fixed;
        height: 100vh;
        width: 300px;
        transition: 1s ease;
        right: 0;
        top: 0;
        bottom: 0; }
        .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .top-menu {
          padding: 20px;
          border-bottom: 1px solid #000000; }
          .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .top-menu .draw-close {
            display: flex;
            align-items: center;
            justify-content: space-between; }
            .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .top-menu .draw-close h1 {
              font-size: 20px;
              text-transform: uppercase;
              font-weight: 700;
              margin-bottom: 0px; }
            .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .top-menu .draw-close button {
              outline: none;
              color: #ffffff;
              border: 0;
              font-size: 20px;
              background-color: rgba(197, 18, 48, 0.01); }
        .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .mobile-menu-content {
          padding-left: 0px;
          margin-bottom: 0px;
          list-style: none; }
          .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .mobile-menu-content li.item {
            padding: 15px;
            text-align: left;
            border-bottom: 1px dashed #000000; }
            .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .mobile-menu-content li.item a {
              color: #000000;
              font-size: 16px;
              font-weight: 700; }
              .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .mobile-menu-content li.item a:hover {
                text-decoration: none;
                color: white; }
          .header .header_mobile .header_mobile-content .menu-bar .header_mobile-menu .mobile-menu-content li.item:last-child {
            border-bottom: 0px; }
      .header .header_mobile .header_mobile-content .menu-bar .active {
        visibility: visible !important;
        right: 0%;
        transition: 1s ease; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.ttf");
  src: url("../fonts/Gilroy-Medium.eot") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
.banner .banner-content {
  margin: 30px 0px; }
  .banner .banner-content .category img {
    width: 100%;
    position: relative; }
  .banner .banner-content .category .cate-desc {
    position: absolute;
    display: block;
    z-index: 2;
    top: 50%;
    left: 45%;
    transform: translateY(-50%); }
    .banner .banner-content .category .cate-desc .desc-text {
      color: #b0b0b0;
      font-size: 14px; }
    .banner .banner-content .category .cate-desc .desc-title {
      color: #353535;
      font-size: 16px;
      font-weight: 700; }
    .banner .banner-content .category .cate-desc .desc-btn button {
      border: 2px solid #ef3636;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 700;
      color: black;
      background-color: white; }

.slide .slide-content .slick-prev, .slide .slide-content .slick-next {
  z-index: 3;
  width: 35px !important;
  height: 35px !important;
  border: 2px solid #e1e1e1;
  border-radius: 50%; }
.slide .slide-content .slick-prev:before, .slide .slide-content .slick-next:before {
  line-height: 0.2;
  opacity: .75;
  color: #e1e1e1;
  border: none; }
.slide .slide-content .slick-prev:focus, .slide .slide-content .slick-next:focus {
  border: 2px solid black; }
.slide .slide-content .slick-next {
  right: -60px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .slide .slide-content .slick-next {
      right: -15px !important; } }
  @media (max-width: 479px) {
    .slide .slide-content .slick-next {
      right: -15px !important; } }
.slide .slide-content .slick-prev {
  left: -60px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .slide .slide-content .slick-prev {
      left: -15px !important; } }
  @media (max-width: 479px) {
    .slide .slide-content .slick-prev {
      left: -15px !important; } }
.slide .slide-content .item img {
  width: 100%; }
.slide .slide-content .item .img-slide {
  position: relative; }
.slide .slide-content .item .slide-text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-150%, -50%);
  z-index: 2; }
  .slide .slide-content .item .slide-text .span {
    font-size: 18px;
    color: #ffffff;
    padding: 25px 0px; }
    @media (max-width: 479px) {
      .slide .slide-content .item .slide-text .span {
        font-size: 14px;
        padding: 10px 0px; } }
  .slide .slide-content .item .slide-text img.text-slide {
    width: 100%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .slide .slide-content .item .slide-text img.text-slide {
        width: 80%; } }
    @media (max-width: 479px) {
      .slide .slide-content .item .slide-text img.text-slide {
        width: 50%; } }
  .slide .slide-content .item .slide-text p {
    font-size: 24px;
    padding: 30px 0px;
    color: #ffffff;
    margin-bottom: 0px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .slide .slide-content .item .slide-text p {
        font-size: 20px;
        padding: 10px 0px; } }
    @media (max-width: 479px) {
      .slide .slide-content .item .slide-text p {
        font-size: 16px;
        padding: 5px 0px; } }
    .slide .slide-content .item .slide-text p span {
      color: yellow;
      font-size: 24px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .slide .slide-content .item .slide-text p span {
          font-size: 20px; } }
      @media (max-width: 479px) {
        .slide .slide-content .item .slide-text p span {
          font-size: 16px; } }
  .slide .slide-content .item .slide-text button {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 20px 35px; }
    @media (max-width: 479px) {
      .slide .slide-content .item .slide-text button {
        font-size: 12px;
        padding: 10px 15px; } }

.slick-prev:before {
  content: '\2039'; }

.slick-next:before {
  content: '\203A'; }

.slick-prev:before, .slick-next:before {
  font-size: 48px; }

.delivery {
  padding: 55px 0px 65px 0px; }
  .delivery .col-lg-3 {
    border-right: 1px solid #e7e7e7; }
    @media (max-width: 479px) {
      .delivery .col-lg-3 {
        border-right: 0px; } }
    .delivery .col-lg-3 .deli-item {
      text-align: center; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .delivery .col-lg-3 .deli-item {
          padding-bottom: 20px; } }
      @media (max-width: 479px) {
        .delivery .col-lg-3 .deli-item {
          padding-bottom: 20px; } }
      .delivery .col-lg-3 .deli-item .worldwide {
        text-align: center; }
        .delivery .col-lg-3 .deli-item .worldwide img:nth-child(1) {
          position: relative; }
        .delivery .col-lg-3 .deli-item .worldwide img:nth-child(2) {
          position: absolute;
          left: 50%;
          top: 20%;
          transform: translate(-50%, -50%); }
        .delivery .col-lg-3 .deli-item .worldwide div:nth-child(2) {
          width: 90%;
          margin: auto; }
          .delivery .col-lg-3 .deli-item .worldwide div:nth-child(2) h5 {
            padding-top: 15px;
            font-size: 16px;
            font-weight: 700; }
          .delivery .col-lg-3 .deli-item .worldwide div:nth-child(2) span {
            font-size: 14px;
            color: #7d7d7d; }
      .delivery .col-lg-3 .deli-item .payment {
        text-align: center; }
        .delivery .col-lg-3 .deli-item .payment img:nth-child(1) {
          position: relative; }
        .delivery .col-lg-3 .deli-item .payment img:nth-child(2) {
          position: absolute;
          left: 50%;
          top: 20%;
          transform: translate(-50%, -50%); }
        .delivery .col-lg-3 .deli-item .payment div:nth-child(2) {
          width: 90%;
          margin: auto; }
          .delivery .col-lg-3 .deli-item .payment div:nth-child(2) h5 {
            padding-top: 15px;
            font-size: 16px;
            font-weight: 700; }
          .delivery .col-lg-3 .deli-item .payment div:nth-child(2) span {
            font-size: 14px;
            color: #7d7d7d; }
      .delivery .col-lg-3 .deli-item .customer {
        text-align: center; }
        .delivery .col-lg-3 .deli-item .customer img:nth-child(1) {
          position: relative; }
        .delivery .col-lg-3 .deli-item .customer img:nth-child(2) {
          position: absolute;
          left: 50%;
          top: 20%;
          transform: translate(-50%, -50%); }
        .delivery .col-lg-3 .deli-item .customer div:nth-child(2) {
          width: 90%;
          margin: auto; }
          .delivery .col-lg-3 .deli-item .customer div:nth-child(2) h5 {
            padding-top: 15px;
            font-size: 16px;
            font-weight: 700; }
          .delivery .col-lg-3 .deli-item .customer div:nth-child(2) span {
            font-size: 14px;
            color: #7d7d7d; }
      .delivery .col-lg-3 .deli-item .help {
        text-align: center; }
        .delivery .col-lg-3 .deli-item .help img:nth-child(1) {
          position: relative; }
        .delivery .col-lg-3 .deli-item .help img:nth-child(2) {
          position: absolute;
          left: 50%;
          top: 20%;
          transform: translate(-50%, -50%); }
        .delivery .col-lg-3 .deli-item .help div:nth-child(2) {
          width: 90%;
          margin: auto; }
          .delivery .col-lg-3 .deli-item .help div:nth-child(2) h5 {
            padding-top: 15px;
            font-size: 16px;
            font-weight: 700; }
          .delivery .col-lg-3 .deli-item .help div:nth-child(2) span {
            font-size: 14px;
            color: #7d7d7d; }
  .delivery .col-lg-3:nth-child(4) {
    border-right: 0px; }

.content {
  padding: 65px 0px 90px 0px;
  background-color: #f6f6f6; }
  .content h1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 35px; }
  .content .feature {
    padding-bottom: 100px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .content .feature .theme .theme-parent {
        margin-bottom: 60px; } }
    @media (max-width: 479px) {
      .content .feature .theme .theme-parent {
        margin-bottom: 60px; } }
    .content .feature .theme .theme-parent .theme-child img {
      width: 100%;
      position: relative; }
    .content .feature .theme .theme-parent .theme-child a div {
      width: 65%;
      margin: auto;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 2;
      bottom: -25%; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .content .feature .theme .theme-parent .theme-child a div {
          bottom: -19%; } }
      @media (max-width: 479px) {
        .content .feature .theme .theme-parent .theme-child a div {
          bottom: -17%; } }
      .content .feature .theme .theme-parent .theme-child a div h5 {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        background-color: #ffffff;
        padding: 20px 0px;
        margin-bottom: 0px;
        color: black; }
      .content .feature .theme .theme-parent .theme-child a div h6 {
        text-align: center;
        width: 100%;
        background-color: #252525;
        padding: 10px 0px;
        color: #ffffff; }
    .content .feature .theme .theme-parent .theme-child a:hover h6 {
      background-color: #fed700;
      color: black; }
  .content .rating .top-rating .slick-prev, .content .rating .top-rating .slick-next {
    top: -15% !important;
    width: 35px !important;
    height: 35px !important;
    border: 2px solid #e1e1e1;
    border-radius: 50%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .content .rating .top-rating .slick-prev, .content .rating .top-rating .slick-next {
        top: -10% !important; } }
    @media (max-width: 479px) {
      .content .rating .top-rating .slick-prev, .content .rating .top-rating .slick-next {
        top: -10% !important; } }
  .content .rating .top-rating .slick-prev:before, .content .rating .top-rating .slick-next:before {
    line-height: 0.2;
    opacity: .75;
    color: #e1e1e1;
    border: none; }
  .content .rating .top-rating .slick-prev:focus, .content .rating .top-rating .slick-next:focus {
    border: 2px solid black; }
  .content .rating .top-rating .slick-next {
    right: 0px !important; }
  .content .rating .top-rating .slick-prev {
    left: 92% !important; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .content .rating .top-rating .slick-prev {
        left: 89% !important; } }
    @media (max-width: 479px) {
      .content .rating .top-rating .slick-prev {
        left: 80% !important; } }
  .content .rating .top-rating .product {
    background-color: #ffffff;
    margin: 0px 1px;
    margin-bottom: -100%;
    padding-bottom: 100%;
    position: relative; }
    .content .rating .top-rating .product:hover .product-action {
      transform: translateY(-100%);
      transition: 0.5s  ease; }
      .content .rating .top-rating .product:hover .product-action .button div {
        transform: translateY(-400%);
        z-index: 3;
        transition: 1s ease; }
    .content .rating .top-rating .product:hover .product-item a .overlay {
      position: absolute;
      z-index: 2;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      transition: 0.5s ease;
      background-color: rgba(255, 255, 255, 0.9); }
    .content .rating .top-rating .product .product-item {
      margin: 30px;
      position: relative; }
      .content .rating .top-rating .product .product-item .product-img {
        position: relative;
        padding: 0px 10px; }
        .content .rating .top-rating .product .product-item .product-img a img {
          width: 100%;
          position: relative;
          z-index: 0; }
        .content .rating .top-rating .product .product-item .product-img a .overlay {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: 0.5s ease; }
      .content .rating .top-rating .product .product-item .pro-new {
        background-color: #111d36;
        color: #ffffff;
        padding: 3px 8px;
        border-radius: 5px;
        position: absolute;
        font-size: 12px;
        top: 0%;
        z-index: 3;
        left: 0%; }
      .content .rating .top-rating .product .product-item .pro-sale {
        background-color: #ef3636;
        color: #ffffff;
        font-size: 12px;
        position: absolute;
        z-index: 3;
        left: 0%;
        padding: 3px 8px;
        border-radius: 5px;
        top: 10%; }
      .content .rating .top-rating .product .product-item .product-desc {
        padding: 10px;
        text-align: center;
        position: relative; }
        .content .rating .top-rating .product .product-item .product-desc .pro-rating img {
          right: 0;
          left: 0;
          margin: auto; }
        .content .rating .top-rating .product .product-item .product-desc .pro-new {
          background-color: #111d36;
          color: #ffffff;
          padding: 5px 10px;
          border-radius: 5px;
          position: absolute;
          font-size: 12px;
          top: 0%;
          left: 0%; }
        .content .rating .top-rating .product .product-item .product-desc .pro-text {
          font-size: 12px;
          color: #b0b0b0;
          padding-top: 10px; }
        .content .rating .top-rating .product .product-item .product-desc .pro-title {
          font-size: 14px;
          font-weight: 700;
          color: #000000;
          padding-top: 6px; }
          .content .rating .top-rating .product .product-item .product-desc .pro-title a {
            color: #000000; }
            .content .rating .top-rating .product .product-item .product-desc .pro-title a:hover {
              color: #fed700;
              text-decoration: none; }
        .content .rating .top-rating .product .product-item .product-desc .pro-price {
          padding-bottom: 15px; }
          .content .rating .top-rating .product .product-item .product-desc .pro-price .price {
            color: #fed700;
            font-weight: 700;
            font-size: 16px;
            padding-top: 10px;
            padding-right: 10px; }
          .content .rating .top-rating .product .product-item .product-desc .pro-price .price-promotion {
            color: #000000 !important;
            font-size: 14px; }
    .content .rating .top-rating .product .product-action {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 2;
      transform: translateY(30%); }
      .content .rating .top-rating .product .product-action .button {
        display: flex;
        align-items: center;
        justify-content: center; }
        .content .rating .top-rating .product .product-action .button div {
          display: flex;
          align-items: center;
          border: 1px solid #000000;
          transition: 1s ease; }
          .content .rating .top-rating .product .product-action .button div i {
            padding: 15px;
            border-right: 1px solid #000000; }
            .content .rating .top-rating .product .product-action .button div i:hover {
              background-color: #000000;
              color: white; }
          .content .rating .top-rating .product .product-action .button div i:last-child {
            border-right: 0px; }
      .content .rating .top-rating .product .product-action .view-product {
        background-color: #000000;
        color: #ffffff;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: 700; }
  .content .banner-big {
    padding: 55px 0px 65px 0px; }
    .content .banner-big .big-banner img {
      width: 100%; }
    .content .banner-big .big-banner .banner-sale {
      position: relative; }
      .content .banner-big .big-banner .banner-sale .banner-off {
        position: relative; }
      .content .banner-big .big-banner .banner-sale .sale-desc {
        width: 50%;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        left: 80px; }
        .content .banner-big .big-banner .banner-sale .sale-desc .sale-off {
          padding: 5px 10px;
          font-size: 12px;
          font-weight: 700;
          background-color: #fed700;
          border-radius: 5px; }
        .content .banner-big .big-banner .banner-sale .sale-desc .text-layer {
          padding: 10px 0px;
          color: #ffffff;
          font-size: 30px; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-sale .sale-desc .text-layer {
              font-size: 20px; } }
        .content .banner-big .big-banner .banner-sale .sale-desc .title-layer {
          padding-bottom: 10px;
          color: #ffffff;
          font-size: 30px;
          font-weight: 700; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-sale .sale-desc .title-layer {
              font-size: 20px; } }
        .content .banner-big .big-banner .banner-sale .sale-desc .price-sale {
          color: #fed700;
          font-weight: 700;
          font-size: 20px;
          padding-right: 10px; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-sale .sale-desc .price-sale {
              font-size: 14px; } }
        .content .banner-big .big-banner .banner-sale .sale-desc .price {
          font-weight: 700;
          font-size: 20px; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-sale .sale-desc .price {
              font-size: 14px; } }
        .content .banner-big .big-banner .banner-sale .sale-desc button {
          padding: 15px 25px;
          background-color: #ffffff;
          font-size: 14px;
          font-weight: 700;
          border: 0px;
          border-radius: 5px;
          margin-top: 10px; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-sale .sale-desc button {
              padding: 10px 20px;
              font-size: 12px; } }
    .content .banner-big .big-banner .banner-product {
      position: relative;
      padding-top: 30px; }
      @media (min-width: 1024px) {
        .content .banner-big .big-banner .banner-product {
          padding-top: 25px; } }
      .content .banner-big .big-banner .banner-product .banner-pro {
        position: relative; }
      .content .banner-big .big-banner .banner-product .sale-desc {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        left: 80px; }
        .content .banner-big .big-banner .banner-product .sale-desc .sale-off {
          padding: 5px 10px;
          background-color: #fdffbe;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
          border-radius: 5px; }
        .content .banner-big .big-banner .banner-product .sale-desc .text-layer {
          padding: 10px 0px;
          color: #ffffff;
          font-size: 30px;
          font-weight: 700; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-product .sale-desc .text-layer {
              font-size: 20px; } }
        .content .banner-big .big-banner .banner-product .sale-desc .title-layer {
          padding-bottom: 10px;
          color: #ffffff;
          font-size: 30px; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-product .sale-desc .title-layer {
              font-size: 20px; } }
        .content .banner-big .big-banner .banner-product .sale-desc .price-sale {
          color: #fdffbe;
          font-weight: 700;
          font-size: 20px;
          padding-right: 10px; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-product .sale-desc .price-sale {
              font-size: 14px; } }
        .content .banner-big .big-banner .banner-product .sale-desc .price {
          font-weight: 700;
          font-size: 20px; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-product .sale-desc .price {
              font-size: 14px; } }
        .content .banner-big .big-banner .banner-product .sale-desc button {
          padding: 15px 25px;
          background-color: #ffffff;
          font-size: 14px;
          font-weight: 700;
          border: 0px;
          border-radius: 5px;
          margin-top: 10px; }
          @media (max-width: 479px) {
            .content .banner-big .big-banner .banner-product .sale-desc button {
              padding: 10px 20px;
              font-size: 12px; } }
  .content .latest-product .latest .product-latest .latest-title {
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .content .latest-product .latest .product-latest .latest-title {
        display: inherit; } }
    @media (max-width: 479px) {
      .content .latest-product .latest .product-latest .latest-title {
        display: inherit; } }
    .content .latest-product .latest .product-latest .latest-title h1 {
      padding-bottom: 0px !important; }
    .content .latest-product .latest .product-latest .latest-title ul.brand {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none;
      display: flex; }
      .content .latest-product .latest .product-latest .latest-title ul.brand li {
        position: relative;
        padding: 0px 10px;
        font-size: 14px;
        cursor: pointer; }
      .content .latest-product .latest .product-latest .latest-title ul.brand li:after {
        position: absolute;
        content: ".";
        padding: 0px 10px;
        bottom: 20%; }
      .content .latest-product .latest .product-latest .latest-title ul.brand li:last-child::after {
        content: ""; }
  .content .latest-product .latest .product-latest .latest-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .content .latest-product .latest .product-latest .latest-content {
        grid-template-columns: auto auto; } }
    @media (max-width: 479px) {
      .content .latest-product .latest .product-latest .latest-content {
        grid-template-columns: auto; } }
    .content .latest-product .latest .product-latest .latest-content .product {
      background-color: #ffffff;
      position: relative; }
      .content .latest-product .latest .product-latest .latest-content .product:hover .product-action {
        transform: translateY(-100%);
        transition: 0.5s  ease;
        visibility: visible;
        opacity: 1; }
        .content .latest-product .latest .product-latest .latest-content .product:hover .product-action .button div {
          transform: translateY(-400%);
          z-index: 3;
          transition: 1s ease; }
      .content .latest-product .latest .product-latest .latest-content .product:hover .product-item a .overlay {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        transition: 0.5s ease;
        background-color: rgba(255, 255, 255, 0.9); }
      .content .latest-product .latest .product-latest .latest-content .product .product-item {
        padding: 30px;
        position: relative; }
        .content .latest-product .latest .product-latest .latest-content .product .product-item .product-img {
          position: relative;
          padding: 0px 10px; }
          .content .latest-product .latest .product-latest .latest-content .product .product-item .product-img a img {
            padding: 0px 30px;
            width: 100%;
            height: 220px;
            position: relative;
            z-index: 0; }
            @media (min-width: 768px) and (max-width: 1023px) {
              .content .latest-product .latest .product-latest .latest-content .product .product-item .product-img a img {
                height: 260px; } }
            @media (min-width: 768px) and (max-width: 1023px) {
              .content .latest-product .latest .product-latest .latest-content .product .product-item .product-img a img {
                height: 300px; } }
          .content .latest-product .latest .product-latest .latest-content .product .product-item .product-img a .overlay {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: 0.5s ease; }
        .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc {
          padding: 10px;
          text-align: center;
          position: relative; }
          .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc .pro-new {
            background-color: #111d36;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 5px;
            position: absolute;
            font-size: 12px;
            top: 0%;
            left: 0%; }
          .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc .pro-text {
            font-size: 12px;
            color: #b0b0b0;
            padding-top: 10px; }
          .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc .pro-title {
            font-size: 14px;
            font-weight: 700;
            padding-top: 6px; }
            .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc .pro-title a {
              color: #000000; }
              .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc .pro-title a:hover {
                color: #fed700;
                text-decoration: none; }
          .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc .pro-price {
            padding-bottom: 15px; }
            .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc .pro-price .price {
              color: #fed700;
              font-weight: 700;
              font-size: 16px;
              padding-top: 10px;
              padding-right: 10px; }
            .content .latest-product .latest .product-latest .latest-content .product .product-item .product-desc .pro-price .price-promotion {
              color: #000000 !important;
              font-size: 14px; }
      .content .latest-product .latest .product-latest .latest-content .product .product-action {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 2;
        transform: translateY(30%);
        visibility: hidden;
        opacity: 0;
        transition: 0.7s ease; }
        .content .latest-product .latest .product-latest .latest-content .product .product-action .button {
          display: flex;
          align-items: center;
          justify-content: center; }
          .content .latest-product .latest .product-latest .latest-content .product .product-action .button div {
            display: flex;
            align-items: center;
            border: 1px solid #000000;
            transition: 1s ease; }
            .content .latest-product .latest .product-latest .latest-content .product .product-action .button div i {
              padding: 15px;
              border-right: 1px solid #000000; }
              .content .latest-product .latest .product-latest .latest-content .product .product-action .button div i:hover {
                background-color: #000000;
                color: white; }
            .content .latest-product .latest .product-latest .latest-content .product .product-action .button div i:last-child {
              border-right: 0px; }
        .content .latest-product .latest .product-latest .latest-content .product .product-action .view-product {
          background-color: #000000;
          color: #ffffff;
          padding: 15px;
          text-align: center;
          font-size: 14px;
          font-weight: 700; }
  .content .latest-product .latest .best-seller .seller .seller-item {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 1px;
    background-color: #ffffff; }
    .content .latest-product .latest .best-seller .seller .seller-item a.sellers {
      padding-right: 10px;
      width: 40%; }
      .content .latest-product .latest .best-seller .seller .seller-item a.sellers img {
        width: 100%; }
    .content .latest-product .latest .best-seller .seller .seller-item .seller-item-desc {
      width: 60%;
      font-size: 14px; }
      .content .latest-product .latest .best-seller .seller .seller-item .seller-item-desc a.seller-title {
        color: #000000; }
        .content .latest-product .latest .best-seller .seller .seller-item .seller-item-desc a.seller-title:hover {
          text-decoration: none;
          color: #fed700; }
      .content .latest-product .latest .best-seller .seller .seller-item .seller-item-desc span {
        font-weight: 700;
        color: #fed700; }
  .content .latest-news .news {
    text-align: center;
    padding-top: 100px; }
    .content .latest-news .news h1 {
      margin-bottom: 0px;
      padding-bottom: 25px; }
    .content .latest-news .news p {
      padding-bottom: 45px;
      margin-bottom: 0px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .content .latest-news .news .new-item-parent {
        margin-bottom: 100px; } }
    @media (max-width: 479px) {
      .content .latest-news .news .new-item-parent {
        margin-bottom: 80px; } }
    .content .latest-news .news .new-item-parent .news-item img {
      width: 100%;
      position: relative; }
    .content .latest-news .news .new-item-parent .news-item .news-desc {
      width: 85%;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      bottom: -10.5%;
      z-index: 2; }
      @media (min-width: 1024px) {
        .content .latest-news .news .new-item-parent .news-item .news-desc {
          bottom: -14%; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .content .latest-news .news .new-item-parent .news-item .news-desc {
          bottom: -6%; } }
      .content .latest-news .news .new-item-parent .news-item .news-desc .desc-title {
        background-color: #ffffff;
        padding: 35px 40px; }
        .content .latest-news .news .new-item-parent .news-item .news-desc .desc-title .news-theme {
          color: #fed700;
          font-size: 14px; }
        .content .latest-news .news .new-item-parent .news-item .news-desc .desc-title .news-name {
          padding-top: 10px;
          font-size: 16px;
          font-weight: 700; }
          .content .latest-news .news .new-item-parent .news-item .news-desc .desc-title .news-name a {
            color: #000000; }
            .content .latest-news .news .new-item-parent .news-item .news-desc .desc-title .news-name a:hover {
              text-decoration: none;
              color: #fed700; }
      .content .latest-news .news .new-item-parent .news-item .news-desc .desc-date {
        background-color: #252525;
        padding: 15px 0px;
        font-size: 12px;
        color: #a2a2a2; }
        .content .latest-news .news .new-item-parent .news-item .news-desc .desc-date span span:nth-child(1) {
          color: #ffffff; }
        .content .latest-news .news .new-item-parent .news-item .news-desc .desc-date span span:nth-child(2) {
          font-weight: 700;
          padding: 5px;
          color: #ffffff; }
        .content .latest-news .news .new-item-parent .news-item .news-desc .desc-date span span:nth-child(3) {
          color: #ffffff; }

.wrapper {
  background-color: #ffffff;
  font-family: "Gilroy"; }

/*# sourceMappingURL=index.css.map */
