@import "_font";
@import "var/_var";
@import "_mixin";
.banner{
    
    .banner-content{
        margin: $pd-banner 0px;
        .category{
            img{
                width: 100%;
                position: relative;
            }
            .cate-desc{
                position: absolute;
                display: block;
                z-index: 2;
                top: 50%;
                left:45%;
                transform: translateY(-50%);
                .desc-text{
                    color: $banner-text;
                    font-size: $font-14;
                }
                .desc-title{
                    color: $banner-title;
                    font-size: $font-16;
                    font-weight: $font-bold;
                }
                .desc-btn{
                    button{
                        border: 2px solid $menu-red;
                        border-radius: 5px;
                        padding: 5px 10px;
                        font-size: 12px;
                        font-weight: $font-bold;
                        color: black;
                        background-color: white;
                    }
                }
            }
        }
    }
}
.slide{
    .slide-content{
        .slick-prev, .slick-next {
            z-index: 3;
            width: 35px !important;
            height: 35px !important;
            border: 2px solid #e1e1e1;
            border-radius: 50%;
        }
        .slick-prev:before, .slick-next:before {
            line-height: 0.2;
            opacity: .75;
            color: #e1e1e1;
            border: none;
        }
        .slick-prev:focus, .slick-next:focus {
            border: 2px solid black;
        }
        .slick-next {
            right: -60px;
            @include tablet{
                right:-15px !important;
            }
            @include mobile{
                right:-15px !important;
            }
        }
        .slick-prev {
            left: -60px;
            @include tablet{
                left:-15px !important;
            }
            @include mobile{
                left:-15px !important;
            }
        }
        .item{
            img{
                width: 100%;
            }
            .img-slide{
                position: relative;
            }
            .slide-text{
                position: absolute;
                top:50%;
                left:60%;
                transform: translate(-150%,-50%);
                z-index: 2;
                .span{
                    font-size: 18px;
                    color: $background;
                    padding: 25px 0px;
                    @include mobile{
                        font-size: $font-14;
                        padding: 10px 0px;
                    }
                }
                img.text-slide{
                    width: 100%;
                    @include tablet{
                        width: 80%;
                    }
                    @include mobile{
                        width: 50%;
                    }
                }
                p{
                    font-size: 24px;
                    padding: 30px 0px;
                    color: $background;
                    margin-bottom: 0px;
                    @include tablet{
                        font-size: 20px;
                        padding: 10px 0px;
                    }
                    @include mobile{
                        font-size: 16px;
                        padding: 5px 0px;
                    }
                    span{
                        color: yellow;
                        font-size: 24px;
                        @include tablet{
                            font-size: 20px;
                        }
                        @include mobile{
                            font-size: 16px;
                        }
                    }
                }
                button{
                    background-color: $background;
                    font-size: $font-14;
                    font-weight: $font-bold;
                    border-radius: 5px;
                    border: none;
                    padding: 20px 35px;
                    @include mobile{
                        font-size: 12px;
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
}
.slick-prev:before {
    content: '\2039';
    
}
.slick-next:before {
    content: '\203A';
}

.slick-prev:before, .slick-next:before {
    font-size: 48px;
}
// delivery
.delivery{
    padding: 55px 0px 65px 0px;
    
        .col-lg-3 {
            border-right: 1px solid $deli-hr;
            @include mobile{
                border-right: 0px;
            }
        
        .deli-item{
            text-align: center;
            @include tablet{
                padding-bottom: 20px;
            }
            @include mobile{
                padding-bottom: 20px;
            }
            .worldwide{
                text-align: center;
                img:nth-child(1){
                    position: relative;
                }
                img:nth-child(2){
                    position: absolute;
                    left: 50%;
                    top:20%;
                    transform: translate(-50%, -50%);
                }
                div:nth-child(2){
                    width: 90%;
                    margin: auto;
                    h5{
                        padding-top: 15px;
                        font-size: $font-16;
                        font-weight: $font-bold;
                    }
                    span{
                        font-size: $font-14;
                        color: $deli-text;
                    }
                }
                
            }
            .payment{
                text-align: center;
                img:nth-child(1){
                    position: relative;
                }
                img:nth-child(2){
                    position: absolute;
                    left: 50%;
                    top:20%;
                    transform: translate(-50%, -50%);
                }
                div:nth-child(2){
                    width: 90%;
                    margin: auto;
                    h5{
                        padding-top: 15px;
                        font-size: $font-16;
                        font-weight: $font-bold;
                    }
                    span{
                        font-size: $font-14;
                        color: $deli-text;
                    }
                }
                
            }
            .customer{
                text-align: center;
                img:nth-child(1){
                    position: relative;
                }
                img:nth-child(2){
                    position: absolute;
                    left: 50%;
                    top:20%;
                    transform: translate(-50%, -50%);
                }
                div:nth-child(2){
                    width: 90%;
                    margin: auto;
                    h5{
                        padding-top: 15px;
                        font-size: $font-16;
                        font-weight: $font-bold;
                    }
                    span{
                        font-size: $font-14;
                        color: $deli-text;
                    }
                }
                
            }
            .help{
                text-align: center;
                img:nth-child(1){
                    position: relative;
                }
                img:nth-child(2){
                    position: absolute;
                    left: 50%;
                    top:20%;
                    transform: translate(-50%, -50%);
                }
                div:nth-child(2){
                    width: 90%;
                    margin: auto;
                    h5{
                        padding-top: 15px;
                        font-size: $font-16;
                        font-weight: $font-bold;
                    }
                    span{
                        font-size: $font-14;
                        color: $deli-text;
                    }
                }
                
            }
        }
    }
        .col-lg-3:nth-child(4){
            border-right: 0px;
        }
    
}

.content{
    padding: 65px 0px 90px 0px;
    background-color: $bg-content;
    h1{
        @include h1;
    }
    .feature{
        padding-bottom: 100px;
        
        .theme{
            .theme-parent{
                @include tablet{
                    margin-bottom: 60px;
                }
                @include mobile{
                    margin-bottom: 60px;
                }
                .theme-child{
                    img{
                        width: 100%;
                        position: relative;
                    }
                    a{
                        div{
                            width: 65%;
                            margin: auto;
                            left: 0;
                            right: 0;
                            position: absolute;
                            z-index: 2;
                            bottom: -25%;
                            @include tablet{
                                bottom: -19%;
                            }
                            @include mobile{
                                bottom: -17%;
                            }
                            // background-color: red;
                            // padding: 20px 0px;
                            // span{
                            //     width: 100%;
                                
                                h5{
                                    width: 100%;
                                    text-align: center;
                                    font-size: $font-16;
                                    font-weight: $font-bold;  
                                    background-color: $background;
                                    padding: 20px 0px;
                                    margin-bottom: 0px;
                                    color:black;
                                    // position: absolute;
                                    // bottom: -100%;
                                }
                                h6{
                                    text-align: center;
                                    width: 100%;
                                    background-color: $bg-text;
                                    padding: 10px 0px;
                                    color: $background;
                                }
                            // }
                        }
                        &:hover{
                            h6{
                                background-color: $color-yellow;
                                color: black;
                            }
                        }
                    }
                    
                }
            }
            
        }
    }
    .rating{
        .top-rating{
            .slick-prev, .slick-next {
                top: -15% !important;
                width: 35px !important;
                height: 35px !important;
                border: 2px solid #e1e1e1;
                border-radius: 50%;
                @include tablet{
                    top: -10% !important;
                }
                @include mobile{
                    top: -10% !important;
                }
            }
            .slick-prev:before, .slick-next:before {
                line-height: 0.2;
                opacity: .75;
                color: #e1e1e1;
                border: none;
            }
            .slick-prev:focus, .slick-next:focus {
                border: 2px solid black;
            }
            .slick-next {
                right: 0px !important;
            }
            .slick-prev {
                left: 92% !important;
                @include tablet{
                    left: 89% !important;
                }
                @include mobile{
                    left: 80% !important;
                }
            }
            .product{
                background-color: $background;
                margin: 0px 1px;
                margin-bottom: -100%;
                padding-bottom: 100%;
                position: relative;
                &:hover{
                    // transition: 0.5s ease;
                    .product-action{
                        transform: translateY(-100%);
                        transition: 0.5s  ease;
                        .button{
                            div{
                                transform: translateY(-400%);
                                z-index: 3;
                                transition: 1s ease;
                            }
                        }
                    }
                    .product-item{
                        a{
                            .overlay{
                                position: absolute;
                                z-index: 2;
                                top: 0px;
                                left: 0px;
                                right: 0px;
                                bottom: 0px;
                                transition: 0.5s ease;
                                background-color: rgba($color: #ffffff, $alpha: 0.9);
                            }
                        }
                    }
                }
                // overflow: hidden;
                .product-item{
                    margin: 30px;
                    position: relative;
                        .product-img{
                            position: relative;
                            padding: 0px 10px;
                            a{
                                
                                img{
                                    
                                    width: 100%;
                                    position: relative;
                                    z-index: 0;
                                }
                                .overlay{
                                    position: absolute;
                                    z-index: 2;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    transition: 0.5s ease;
                                }
                            }
                        }
                        .pro-new{
                            background-color: $bg-new;
                            color: $color-white ;
                            padding: 3px 8px;
                            border-radius: 5px;
                            position: absolute;
                            font-size: 12px;
                            top: 0%;
                            z-index: 3;
                            left: 0%;
                        }
                        .pro-sale{
                            background-color: $bg-sale;
                            color: $color-white;
                            font-size: 12px;
                            position: absolute;
                            z-index: 3;
                            left: 0%;
                            padding: 3px 8px;
                            border-radius: 5px;
                            top: 10%;
                        }
                        
                    
                    .product-desc{
                        padding: 10px;
                        text-align: center;
                        position: relative;
                        .pro-rating{
                            img{
                                right: 0;
                                left: 0;
                                margin: auto;
                            }
                        }
                        .pro-new{
                            background-color: $bg-new;
                            color: $color-white ;
                            padding: 5px 10px;
                            border-radius: 5px;
                            position: absolute;
                            font-size: 12px;
                            top: 0%;
                            left: 0%;
                        }
                        .pro-text{
                            font-size: 12px;
                            color:$product-text;
                            padding-top: 10px;
                        }
                        .pro-title{
                            font-size: $font-14;
                            font-weight: $font-bold;
                            color: $product-title;
                            padding-top: 6px;
                            a{
                                color: $product-title;
                                &:hover{
                                    color: $color-yellow;
                                    text-decoration: none;
                                }
                            }
                        }
                        .pro-price{
                            padding-bottom: 15px;
                            .price{
                                color: $color-price;
                                font-weight: $font-bold;
                                font-size: $font-16;
                                padding-top: 10px;
                                padding-right: 10px;
                            }
                            .price-promotion{
                                color:$product-title !important;
                                font-size: $font-14;
                            }
                        }
                    }
                }
                .product-action{
                    position: absolute;
                    right: 0;
                    left: 0;
                    z-index: 2;
                    transform: translateY(30%);
                    .button{
                        @include flex;
                        justify-content: center;
                        div{
                            @include flex;
                            border: 1px solid $color-black;
                            transition: 1s ease;
                            // position: absolute;
                            // top:40%;
                            // transform: translateY(-40%);
                            // z-index: 3;
                            i{
                                padding: 15px;
                                border-right: 1px solid $color-black;
                                &:hover{
                                    background-color: $color-black;
                                    color: white;
                                }
                            }
                            i:last-child{
                                border-right: 0px;
                            }
                        }
                        // button{
                        //     padding: 15px;
                        //     border: 1px solid $color-black;
                        // }
                        // display: grid;
                        // gap: 1px;
                        // place-self: center;
                        // border: 1px solid black;
                        // grid-template-columns: 46px 46px 46px;
                        // img{
                        //     place-self: center;
                        //     cursor: pointer;
                        //     padding: 15px;
                        // }
                    }
                    .view-product{
                        background-color: $color-black;
                        color: $color-white;
                        padding: 15px ;
                        text-align: center;
                        font-size: $font-14;
                        font-weight: $font-bold;
                    }
                }
            }
        }
    }
    .banner-big{
        padding: 55px 0px 65px 0px;
        .big-banner{
            img{
                width: 100%;
            }
            .banner-sale{
                position: relative;
                .banner-off{
                    position: relative;
                }
                .sale-desc{
                    width: 50%;
                    position: absolute;
                    z-index: 2;
                    top:50%;
                    transform: translateY(-50%);
                    left: 80px;
                    .sale-off{
                        padding: 5px 10px;
                        font-size: 12px;
                        font-weight: $font-bold;
                        background-color: $color-yellow;
                        border-radius: 5px;
                    }
                    .text-layer{
                        padding: 10px 0px;
                        color: $background;
                        font-size: 30px;
                        @include mobile{
                            font-size: 20px;
                        }
                    }
                    .title-layer{
                        padding-bottom: 10px ;
                        color: $background;
                        font-size: 30px;
                        font-weight: $font-bold;
                        @include mobile{
                            font-size: 20px;
                        }
                    }
                    .price-sale{
                        color: $color-yellow;
                        font-weight: $font-bold;
                        font-size: 20px;
                        padding-right: 10px;
                        @include mobile{
                            font-size: $font-14;
                        }
                    }
                    .price{
                        font-weight: $font-bold;
                        font-size: 20px;
                        @include mobile{
                            font-size: $font-14;
                        }
                    }
                    button{
                        padding: 15px 25px;
                        background-color: $background;
                        font-size: $font-14;
                        font-weight: $font-bold;
                        border: 0px;
                        border-radius: 5px;
                        margin-top: 10px;
                        @include mobile{
                            padding: 10px 20px;
                            font-size: 12px;
                        }
                    }
                }
            }
            .banner-product{

                position: relative;
                padding-top: 30px;
                @include desktop{
                    padding-top: 25px;
                }
                .banner-pro{
                    position: relative;
                }
                .sale-desc{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 2;
                    left: 80px;
                    .sale-off{
                        padding: 5px 10px;
                        background-color: #fdffbe;
                        text-transform: uppercase;
                        font-weight: $font-bold;
                        font-size: 12px;
                        border-radius: 5px;
                    }
                    .text-layer{
                        padding: 10px 0px;
                        color: $background;
                        font-size: 30px;
                        font-weight: $font-bold;
                        @include mobile{
                            font-size: 20px;
                        }
                    }
                    .title-layer{
                        padding-bottom: 10px ;
                        color: $background;
                        font-size: 30px;
                        @include mobile{
                            font-size: 20px;
                        }
                    }
                    .price-sale{
                        color: #fdffbe;
                        font-weight: $font-bold;
                        font-size: 20px;
                        padding-right: 10px;
                        @include mobile{
                            font-size: $font-14;
                        }
                    }
                    .price{
                        font-weight: $font-bold;
                        font-size: 20px;
                        @include mobile{
                            font-size: $font-14;
                        }
                    }
                    button{
                        padding: 15px 25px;
                        background-color: $background;
                        font-size: $font-14;
                        font-weight: $font-bold;
                        border: 0px;
                        border-radius: 5px;
                        margin-top: 10px;
                        @include mobile{
                            padding: 10px 20px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .latest-product{
        .latest{
            .product-latest{
                .latest-title{
                    @include tablet{
                        display: inherit;
                    }
                    @include mobile{
                        display: inherit;
                    }
                    padding-bottom: 35px;
                    h1{
                        padding-bottom: 0px !important;
                    }
                    @include flex;
                    justify-content: space-between;
                    ul.brand{
                        padding-left: 0px;
                        margin-bottom: 0px;
                        list-style: none;
                        display: flex;
                        li{
                            position: relative;
                            padding: 0px 10px;
                            font-size: $font-14;
                            cursor: pointer;
                        }
                        li:after{
                            position: absolute;
                            content: ".";
                            padding: 0px 10px;
                            bottom: 20%;
                        }
                        li:last-child::after{
                            content: "";
                        }
                    }
                }
                .latest-content{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    // grid-template-columns:repeat(auto-fill, minmax(200px, 2fr));
                    gap: 1px;
                    
                    @include tablet{
                        grid-template-columns: auto auto;
                    }
                    @include mobile{
                        grid-template-columns: auto;
                    }
                
                .product{
                    background-color: $background;
                    // margin: 1px 0px;
                    // width: calc(100%/3);
                    // float: left;
                    position: relative;
                    &:hover{
                        // transition: 0.5s ease;
                        .product-action{
                            transform: translateY(-100%);
                            transition: 0.5s  ease;
                            visibility: visible;
                            opacity: 1;
                            .button{
                                div{
                                    transform: translateY(-400%);
                                    z-index: 3;
                                    transition: 1s ease;
                                }
                            }
                        }
                        .product-item{
                            a{
                                .overlay{
                                    position: absolute;
                                    z-index: 2;
                                    top: 0px;
                                    left: 0px;
                                    right: 0px;
                                    bottom: 0px;
                                    transition: 0.5s ease;
                                    background-color: rgba($color: #ffffff, $alpha: 0.9);
                                }
                            }
                        }
                    }
                    
                    .product-item{
                        padding: 30px;
                        position: relative;
                        .product-img{
                            position: relative;
                            padding: 0px 10px;
                            a{
                                
                                img{
                                    padding:0px 30px;
                                    width: 100%;
                                    height:220px;
                                    @include tablet{
                                        height:260px;
                                    }
                                    @include tablet{
                                        height:300px;
                                    }
                                    position: relative;
                                    z-index: 0;
                                }
                                .overlay{
                                    position: absolute;
                                    z-index: 2;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    transition: 0.5s ease;
                                }
                            }
                        }
                        
                        
                        .product-desc{
                            padding: 10px;
                            text-align: center;
                            position: relative;
                            .pro-new{
                                background-color: $bg-new;
                                color: $color-white ;
                                padding: 5px 10px;
                                border-radius: 5px;
                                position: absolute;
                                font-size: 12px;
                                top: 0%;
                                left: 0%;
                            }
                            .pro-text{
                                font-size: 12px;
                                color:$product-text;
                                padding-top: 10px;
                            }
                            .pro-title{
                                font-size: $font-14;
                                font-weight: $font-bold;
                                
                                padding-top: 6px;
                                a{
                                    color: $product-title;
                                    &:hover{
                                        color: $color-yellow;
                                        text-decoration: none;
                                    }
                                }
                            }
                            .pro-price{
                                padding-bottom: 15px;
                                .price{
                                    color: $color-price;
                                    font-weight: $font-bold;
                                    font-size: $font-16;
                                    padding-top: 10px;
                                    padding-right: 10px;
                                }
                                .price-promotion{
                                    color:$product-title !important;
                                    font-size: $font-14;
                                }
                            }
                        }
                    }
                    .product-action{
                        position: absolute;
                        right: 0;
                        left: 0;
                        z-index: 2;
                        transform: translateY(30%);
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.7s ease;
                        .button{
                            @include flex;
                            justify-content: center;
                            div{
                                @include flex;
                                border: 1px solid $color-black;
                                transition: 1s ease;
                                // position: absolute;
                                // top:40%;
                                // transform: translateY(-40%);
                                // z-index: 3;
                                i{
                                    padding: 15px;
                                    border-right: 1px solid $color-black;
                                    &:hover{
                                        background-color: $color-black;
                                        color: white;
                                    }
                                }
                                i:last-child{
                                    border-right: 0px;
                                }
                            }
                            // button{
                            //     padding: 15px;
                            //     border: 1px solid $color-black;
                            // }
                            // display: grid;
                            // gap: 1px;
                            // place-self: center;
                            // border: 1px solid black;
                            // grid-template-columns: 46px 46px 46px;
                            // img{
                            //     place-self: center;
                            //     cursor: pointer;
                            //     padding: 15px;
                            // }
                        }
                        .view-product{
                            background-color: $color-black;
                            color: $color-white;
                            padding: 15px ;
                            text-align: center;
                            font-size: $font-14;
                            font-weight: $font-bold;
                        }
                    }
                }
            }
            
            }
            .best-seller{
                .seller{

                    .seller-item{
                        @include flex;
                        padding: 20px;
                        margin-bottom: 1px;
                        background-color: $background;
                        a.sellers{
                            padding-right: 10px;
                            width: 40%;
                            img{
                                width: 100%;
                            }
                        }
                        .seller-item-desc{
                            width: 60%;
                            font-size: $font-14;
                            a.seller-title{
                                
                                color:$title ;
                                &:hover{
                                    text-decoration: none;
                                    color: $color-yellow;
                                }  
                                 
                            }
                            span{
                                font-weight: $font-bold;
                                color: $color-yellow;
                            }
                        }
                    }
                }
            }
        }
    }
    .latest-news{
        .news{
            text-align: center;
            padding-top: 100px;
            h1{
                margin-bottom: 0px;
                padding-bottom: 25px;
            }
            p{
                padding-bottom: 45px;
                margin-bottom: 0px;
            }
            .new-item-parent{
                @include tablet{
                    margin-bottom: 100px;
                }
                @include mobile{
                    margin-bottom: 80px;
                }
                .news-item{
                    img{
                        width: 100%;
                        position: relative;
                    }
                    .news-desc{
                        width: 85%;
                        left: 0;
                        right: 0;
                        margin: auto;
                        position: absolute;
                        bottom: -10.5%;
                        z-index: 2;
                        @include desktop{
                            bottom: -14%;
                        }
                        @include tablet{
                            bottom: -6%;
                        }
                        .desc-title{
                            background-color: $background;
                            padding: 35px 40px;
                            .news-theme{
                                color: $color-yellow;
                                font-size: $font-14;
                            }
                            .news-name{
                                padding-top: 10px;
                                font-size: $font-16;
                                font-weight: $font-bold;
                                a{
                                    color: $title ;
                                    &:hover{
                                        text-decoration: none;
                                        color: $color-yellow;
                                    }
                                }
                            }
                        }
                        .desc-date{
                            background-color: $bg-text;
                            padding: 15px 0px;
                            font-size: 12px;
                            color: #a2a2a2;
                            span{
                                span:nth-child(1){
                                    color:$color-white;
                                }
                                // span:nth-child(1)::after{
                                //     content: " . ";
                                //     font-weight: $font-bold;
                                //     padding: 5px;
                                // }
                                span:nth-child(2){
                                    font-weight: $font-bold;
                                    padding: 5px;
                                    color:$color-white;
                                }
                                span:nth-child(3){
                                    color: $color-white;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}
// @media(max-width:1024px){
//     .latest-product{
//         .latest{
//             .product-latest{
//                 .latest-content{
//                     display: grid;
//                     grid-template-columns: auto auto ;
//                     // grid-template-columns:repeat(auto-fill, minmax(200px, 2fr));
//                     gap: 1px;
//                 }
//             }
//         }
//     }
    
// }