@import '../scss/var/var';
@import "_mixin";
.footer{
    padding-top: $footer-pd-top;
    .footer-content{
        .footer-menu{
            padding-bottom: 60px;
            .find-fast{
                @include tablet{
                    padding-bottom: 20px
                }
                @include mobile{
                    padding-bottom: 20px
                }
                .footer-title{
                    @include footer-h4;
                }
                ul{
                    @include ul;
                    li{
                        @include ul_li;
                        a{
                            @include ul-li-a;
                            &:hover{
                                color: $color-yellow;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .merchant-central{
                @include tablet{
                    padding-bottom: 20px
                }
                @include mobile{
                    padding-bottom: 20px
                }
                .footer-title{
                    @include footer-h4;
                }
                ul{
                    @include ul;
                    li{
                        @include ul_li;
                        a{
                            @include ul-li-a;
                            &:hover{
                                color: $color-yellow;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .information{
                @include tablet{
                    padding-bottom: 20px
                }
                @include mobile{
                    padding-bottom: 20px
                }
                .footer-title{
                    @include footer-h4;
                }
                ul{
                    @include ul;
                    li{
                        @include ul_li;
                        a{
                            @include ul-li-a;
                            &:hover{
                                color: $color-yellow;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .contact-us{
                @include tablet{
                    padding-bottom: 20px
                }
                @include mobile{
                    padding-bottom: 20px
                }
                .footer-title{
                    @include footer-h4;
                }
                .contact-desc{
                    font-size: 14px;
                    font-family: 'Gilroy';
                    a{
                        color: $color-yellow;
                    }
                    .address{
                        padding-top: 35px;
                        @include flex;
                        img{
                            padding-right: $footer-pd-right;
                        }
                    }
                    .phone{
                        padding-top: 35px;
                        @include flex;
                        img{
                            padding-right: $footer-pd-right;
                        }
                        span{
                            a{
                                color: $footer-li;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-newsletter{
            border: 1px solid $footer-hr;
            padding: 25px 0px;
            .newsletter{
                
                .sign-up{
                    padding: 0px 80px;
                    @include tablet{
                        padding: 0px 20px;
                        padding-bottom: 10px;
                    }
                    @include mobile{
                        padding: 0px 20px;
                        padding-bottom: 10px;
                    }
                    @include flex;
                    .sign-left{
                        @include flex();
                        margin-right: 45px;
                        width: 40%;
                        img{
                            font-size: 36px;
                            padding-right: $footer-pd-r-20;
                            
                        }
                        span{
                            font-family: $font-family;
                            font-size: $font-16;
                            font-weight: $font-bold;
                            color: $footer-title;
                            text-transform: uppercase;
                            
                        }
                    }
                    .sign-right{
                        padding-left: 30px;
                        border-left: 1px solid $footer-hr;
                        width: 100%;
                        span{
                            font-size: $font-14;
                            color: $sign-right-text;
                        }
                    }
                }
                .subscribe{
                    position: relative;
                    margin-bottom: 60px;
                    input{
                        border: 1px solid $footer-hr;
                        padding: 18px 18px 18px 25px;
                        border-radius: 5px;
                        position: absolute;
                        z-index:1;
                        width: 85%;
                        margin: auto;
                        right: 0;
                        left: 0;
                        &:focus{
                            outline: none;
                        }
                    }
                    button{
                        @include button-footer;
                        // place-self: end;
                        position: absolute;
                        z-index: 2;
                        position: absolute;
                        z-index: 2;
                        left: 62%;
                        top: 10px;
                        @include tablet{
                            left:77%;
                        }
                        @include mobile{
                            left:66%;
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
        .footer-list{
            display: flex;
            padding: 35px 0px;
            justify-content: center;
            .list-menu-footer{
                .menu-footer{
                    @include ul;
                    @include flex;
                    justify-content: center;
                    padding-bottom: 25px;
                    li{
                        padding: 0px 15px;
                        @include mobile{
                            padding: 0px 7px;
                        }
                        a{
                            text-transform: uppercase;
                            font-size: 13px;
                            font-weight: $font-bold;
                            color:$menu-footer-li ;
                            &:hover{
                                color: $color-yellow;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .text-menu-footer{
                    font-size: $font-14;
                    color: $footer-text;
                    @include tablet{
                        text-align: center;
                    }
                    @include mobile{
                        text-align: center;
                    }
                }
            }
        }
        
    }
    .footer-copyright{
        background-color: $bg-footer;
        padding: 30px 0px;
        .copyright{
            @include flex;
            justify-content: space-between;
            @include tablet{
                display: inline;
                text-align: center;
            }
            @include mobile{
                display: inline;
                text-align: center;
            }
            .copy{
                color: $footer-text;
                font-size: $font-14;
                a{
                    color: $color-yellow;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .icon-copy{
                a{
                    color:white;
                    font-size: 20px;
                    padding: 0px 10px;
                }
            }
        }
    }
    
}
