@import "_font";
@import "var/_var";
.header{
    .header_top{
        padding: 15px 0px;
        border: 1px solid $menu-hr;
        @include mobile{
            display: none;
        }
        .top{
            @include flex;
            justify-content: space-between;
            font-size: $font-14;
            font-family: $font-family;
            a{
                color: $color-yellow;
            }
            .top-right{
                @include flex;
                .language{
                    @include flex;
                    padding-right: 20px;
                    img{
                        padding-right: 10px;
                    }
                }
                .usd{
                    border-left: 1px solid $menu-hr;
                    padding-left: 20px;
                    select{
                        border: 0px;
                    }
                }
            }
        }
    }
    .header_logo{
        padding: 25px 0px;
        .logo-content{
            @include flex;
            justify-content: space-between;
            @include mobile{
                display: inherit;
            }
            .search{
                position: relative;
                width: 50%;
                @include tablet{
                    width: 40%;
                }
                @include mobile{
                    width: 100%;
                }
                @include mobile{
                    padding: 20px 0px;
                }
                font-size: $font-14;
                input{
                    position: relative;
                    color: $text-search;
                    padding: 15px 15px 15px 40px;
                    border: 1px solid $search-border;
                    border-radius: 5px;
                    width: 100%;
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    position: absolute;
                    z-index: 2;
                    right: 3%;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $background;
                    padding: 10px 20px;
                    background-color: $color-yellow;
                    font-weight: $font-bold;
                    border: none;
                    border-radius: 5px;
                    &:focus{
                        outline: none;
                    }
                }
                img{
                    position: absolute;
                    left: 3%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .menu-cart{
                @include ul;
                display: flex;
                font-family: $font-family;
                li{
                    padding-left: 24px;
                    position: relative;
                    a{
                        @include ul-li-a;
                        span{
                            padding:0px 5px;
                            position: absolute;
                            background-color: $menu-red;
                            border-radius: 50%;
                            color: $background;
                            font-size: 12px;
                            right: -25%;
                            top: -25%;
                        }
                    }
                }
                li:nth-child(3){
                    @include flex;
                    a{
                        @include ul-li-a;
                        span{
                            padding:0px 5px;
                            position: absolute;
                            background-color: $menu-red;
                            border-radius: 50%;
                            color: $background;
                            font-size: 12px;
                            right: 40%;
                            top: -25%;
                        }
                    }
                    .price-cart{
                        font-size: $font-16;
                        padding-left: 10px;
                        font-weight: $font-bold;
                        align-items: center;
                    }
                }
                
            }
        }
    }
    .header_menu{
        background-color: $color-yellow;
        @include tablet{
            display: none;
        }
        @include mobile{
            display: none;
        }
        .menu{
            .department{
                background-color: $menu-bg-department;
                padding: 20px 20px;
                position: relative;
                span{
                    font-weight: $font-bold;
                    cursor: pointer;
                }
                ul.sub-menu{
                    position: absolute;
                    top:100%;
                    background-color: $background;
                    z-index: 33;
                    box-shadow: 0 1px 7px 0 rgba(12, 8, 8, 0.35);
                    width: 100%;
                    @include ul;
                    // margin-top: 10px;
                    // z-index: 99;
                    li{
                        padding: 10px 20px;
                        background-color: $background;
                        a{
                            color: $color-yellow;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
                ul#click1{
                    max-height: 0;
                    overflow: hidden;
                    left: 0;
                    transition: 1s ease;
                }
                ul.active1{
                    max-height: 200vh !important;
                    transition: 1s ease;
                }
            }
            .menu-list{
                padding: 20px 0px;
                @include ul;
                @include flex;
                font-size: $font-16;
                font-weight: $font-bold;
                li.menu-item{
                    padding-right: 45px;
                    white-space: nowrap;
                    position: relative;
                    a{
                        color: $title ;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    ul.sub-menu{
                        @include ul;
                        width: 200px;
                        box-shadow: 0 1px 7px 0 rgba(12, 8, 8, 0.35);
                        background-color: $background;
                        top:10%;
                        visibility: hidden;
                        position: absolute;
                        z-index: 99;
                        opacity: 0;
                        li{
                            padding: 10px 20px;
                            &:hover{
                                background-color: $color-yellow;
                                transition: 0.5s ease;
                                a{
                                    color: $background;
                                }
                            }
                        }
                    }
                    &:hover{
                        ul.sub-menu{
                            visibility: visible;
                            opacity: 1;
                            transition: 1s ease;
                            top: 90%;
                        }
                    }
                }
            }
        }
    }
    .header_mobile{
        background-color: $background-color-menu;
        display: none;
        @include tablet{
            display: block;
        }
        @include mobile{
            display: block;
        }
        .header_mobile-content{
            @include flex;
            justify-content: space-between;
            
            .department{
                background-color: $menu-bg-department;
                position: relative;
                padding: 20px;
                // width: 50%;
                span{
                    font-weight: $font-bold;
                    cursor: pointer;
                }
                ul.sub-menu{
                    position: absolute;
                    top:100%;
                    background-color: $background;
                    z-index: 33;
                    box-shadow: 0 1px 7px 0 rgba(12, 8, 8, 0.35);
                    width: 100%;
                    @include ul;
                    // margin-top: 10px;
                    // z-index: 99;
                    li{
                        padding: 10px 20px;
                        background-color: $background;
                        a{
                            color: $color-yellow;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
                ul#click2{
                    max-height: 0;
                    overflow: hidden;
                    left: 0;
                    transition: 1s ease;
                }
                ul.active1{
                    max-height: 200vh !important;
                    transition: 1s ease;
                }
            }
            .menu-bar{
                text-align: right;
                padding: 20px 0px;
                .header_mobile-menu{
                    visibility: hidden;
                    right: -100%;
                    background-color: rgba(254,215,0,0.9);
                    z-index: 1000;
                    position: fixed;
                    height: 100vh;
                    width: 300px;
                    transition: 1s ease;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    
                    .top-menu{
                        padding: 20px;
                        border-bottom: 1px solid $color-black;
                        .draw-close{
                            @include flex;
                            justify-content: space-between;
                            h1{
                                // color: $background;
                                font-size: 20px;
                                text-transform: uppercase;
                                font-weight: $font-bold;
                                margin-bottom: 0px;
                            }
                            button{
                                outline: none;
                                color: #ffffff;
                                border: 0;
                                font-size: 20px;
                                background-color: rgba(197, 18, 48, 0.01);
                            }
                        }
                    }
                    .mobile-menu-content{
                        @include ul;
                        li.item{
                            padding: 15px;
                            text-align: left;
                            border-bottom: 1px dashed $color-black;
                            a{
                                color: $product-title;
                                font-size: $font-16;
                                font-weight: $font-bold;
                                &:hover{
                                    text-decoration: none;
                                    color: white;
                                }
                            }
                        }
                        li.item:last-child{
                            border-bottom: 0px;
                        }
                    }
                }
                .active{
                    visibility: visible !important;
                    right: 0%;
                    transition: 1s ease;
                }
            }
        }
    }
}