// content
@mixin h1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 35px;
}
// footer
@mixin footer-h4{
    font-weight: bold;
    font-family: 'Gilroy';
    font-size: 16px;
    text-transform: uppercase;
    color: $footer-title;
    padding-bottom: 30px;
    margin-bottom: 0px;
}
@mixin ul {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}
@mixin ul_li {
    padding: 3px 0px;
}
@mixin ul-li-a {
    font-size: 14px;
    font-family: 'Gilroy';
    color: $footer-li;
}
@mixin flex {
    display: flex;
    align-items: center;
}
@mixin button-footer {
    background-color: $color-yellow;
    color: $background;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: $font-family;
    font-weight: $font-bold;
    font-size: $font-14;
}
// media
$desktop-width: 1024px;
$tablet-width:768px;
$mobile-width:480px;
@mixin desktop{
    @media(min-width: #{$desktop-width}){
        @content;
    }
}
@mixin tablet{
    @media(min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
        @content;
    }
}
@mixin mobile{
    @media(max-width: #{$mobile-width - 1px}){
        @content;
    }
}