$color-yellow: #fed700;
$background:#ffffff;
$bg-gray:#f6f6f6;
$font-family: 'Gilroy';
$font-bold: 700;
$font-14:14px;
$font-16:16px;
$color-white: #ffffff;
$color-black: #000000;

// var menu
$background-color-menu: #fed700;
$menu-hr: #e6e6e6;
$menu-red:#ef3636;
$text-search: #b0b0b0;
$search-border: #ebebeb;
$menu-bg-department: #eac600;
// var banner
$pd-banner: 30px;
$banner-hr: #030303;
$banner-text: #b0b0b0;
$banner-title: #353535;
// var slide
$prev-next-color: #e3e3e3;
// slide bottom
$deli-hr: #e7e7e7;
$deli-text: #7d7d7d;
// content
$bg-content: #f6f6f6;
// feature
$bg-text:#252525;
// top-rating
$product-title: #000000;
$product-text:#b0b0b0;
$bg-new:#111d36;
$bg-sale: #ef3636;
$color-price:#fed700;
// best seller
$title: #000000;
// var footer
$bg-footer: #252525;
$footer-title: #363636;
$footer-li:#626262;
$footer-hr: #e5e5e5;
$footer-text:#b0b0b0;
$sign-right-text: #8a8a8a;
$footer-pd-top:80px;
$footer-pd-right:15px;
$footer-pd-r-20: 20px;
$menu-footer-li: #353535;

